:root {
    --main-bg-color: #0A846E;
    --bg-plant: #9E6D52;
    --bg-grayish: #D9D9D9;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    max-width: 1000px;
    margin-inline: auto;
}

h1 {
    margin-block: 16px;
    color: var(--main-bg-color);
    font-family: Maven Pro;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}

h2 {
    font-family: Lato;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}

.page-header {
    height:  582px;
    display: grid;
    grid-template-areas: "logo logo"
                         "plant dig";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 390px 195px;
    background-color: #aaa;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 1px solid #FFFFFF;
}

.page-header .logo {
    grid-area: logo;
    background-color: var(--bg-grayish);
    background-image: url(assets/zoe-schaeffer-PFbOZfKh07I-unsplash.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover; 
    background-position: center center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.logo .img-flower {
    height: 186px;
}

.page-header .dig {
    grid-area: dig;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}
.dig .img-dig {
    height: 130px;
    width: fit-97.9;
}

.page-header .plant {
    grid-area: plant;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-plant);
}
.plant .img-plant {
    width: 111.44px;
    height: 124px;
}


/*=== nav ===*/
.page-nav {
    position: absolute;
    top: 13px;
    right: 20px;
}
.page-nav:hover {
    cursor: pointer;
}

.img-nav {
    width: 40px;
    height: fit-content;
}

.page-nav a {
    color: var(--main-bg-color);
    font-weight: bold;
    font-family: Maven Pro;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    
}

.page-nav .nav-content {
    list-style-type: none;
    position: absolute;
    top: 30px;
    right: 0;
    min-width: 160px;
    padding: 4px 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f1f1f1;
    color: var(--main-bg-color);
    z-index: 1;
    display: none;
}

.page-nav .nav-content > li {
    padding-block: 6px;
}

.page-nav:hover .nav-content {
    display: block;
}


/*=== art-planned ===*/
.art-container {
    display: grid;
    justify-content: center;
}

.art-container .art-inner.season {
    display: grid;
    grid-template-areas: 
        "text-box"
        "circle-box";
}

.art-container .art-inner.previous {
    display: grid;
    grid-template-areas: 
        "circle-box"
        "text-box";
}

.art-container h2 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}

.art-container .art-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.art-container .text-box {
    grid-area: text-box;
}

.art-container .circle-box {
    grid-area: circle-box;
    display: flex;
    justify-content: center;
}

.art-container .text-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
    padding-block: 30px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 350px;
}

.img-seeding {
    width: 126px;
    height: 124px;
    border: 1px;
}

/*=== art-our-plans ===*/
.art-our-plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.art-our-plans h2 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin-block: 16px;
    color: #1E1E1E;

}


.card-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 8px;
    min-height: 100px;
    padding-inline: 16px;
    padding-block: 16px;
}

.card-collection .item {
    width: 100%;
    height: 220px;
    box-shadow: 1px 1px 3px #aaa;
}

.card-collection .item .txt-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4px;
}
.card-collection .item .txt-row .product {
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}
.card-collection .item .txt-row .date {
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;
}
.card-collection .item .txt-row .supplier {
    font-family: Lato;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}
.card-collection .item .txt-row img.garbage {
    width: 24px;
}

.card-collection .item button.remove {
    padding: 4px;
    background-color: #B93857;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    display: none;
}

.card-collection .item .img-box {
    position: relative;
    height: 160px;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-collection .item .img-box {
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
}



.card-collection .item.cucumber .img-box {
    background-image: url(assets/cucumber.png);
}
.card-collection .item.green-tomatos .img-box {
    background-image: url(assets/green-tomatos.jpg);
}
.card-collection .item.red-tomat .img-box {
    background-image: url(assets/red-tomat.jpg);
}
.card-collection .item.green-pea .img-box {
    background-image: url(assets/green-pea.jpg);
}
.card-collection .item.onion .img-box {
    background-image: url(assets/onion.png);
}
.card-collection .item.green-plant .img-box {
    background-image: url(assets/green-plant.png);
}

.card-collection .item .img-box .plant {
    position: absolute;
    height: 100px;
}

.card-collection .item img {
    width: 100%;
    height: 100%;
    align-self: center;
}

.art-our-plans button {
    margin-top: 20px;
    margin-bottom: 40px;
}


/*=== footer ===*/
.page-footer {
    background-image: url(assets/touch-plants.png);
    background-repeat: no-repeat, repeat;
    background-size: cover; 
    background-position: center center;

    font-family: Maven Pro;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.page-footer .box-img,
.page-footer .box-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 401px;
}
.page-footer .box-img {
    grid-area: box-img;
}

.page-footer .box-contact {
    grid-area: box-contact;
    background-color: #000b;
    color: #fff;
    position: relative;
}


.page-footer h2 {
    font-size: 32px;
    font-weight: 500;
}

.page-footer .footer-details {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 8px;
    /* font-size: 17px; */
}
.page-footer .footer-details > span {
    padding: 16px;
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.page-footer .footer-details .img-phone {
    height: 20px;
    width: auto;
}
.page-footer .footer-details .img-envelop {
    height: 20px;
    width: auto;
    background-color: white;
}

.page-footer .to-top {
    grid-area: to-top;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 50px;

    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}
.page-footer .to-top a {
    color: black;
}





button {
    width: max-content;
    padding: 6px 20px;
    margin-inline: auto;
    background-color: var(--main-bg-color);
    border: 0;
    border-radius: 9px;
    box-shadow: 0px 4px 4px 0px #00000040;

    color: white;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    white-space: nowrap;
}

.circle {
    width: 241px;
    height: 241px;

    border-radius: 239px;
    border: 14px;
    background-color: var(--main-bg-color);
    box-shadow: 0px 4px 4px 0px #00000040 inset;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}

.line {
    width: 202px;
    border: 3px;
    border: 3px solid #055647;
    margin-inline: auto;
    margin-block: 60px 40px;
}









/* ######  800px  ######*/
@media screen and (min-width: 800px) {
    
    h1 {
        margin-block: 70px;
        font-size: 48px;
    }


    /*=== header ===*/
    .page-header {
        grid-template-areas: "logo plant"
                             "logo dig";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 540px;
    }

    .art-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        padding-inline: 16px;
        margin-bottom: 80px;
    }

    .art-container .art-inner.season {
        grid-template-areas: "circle-box text-box";
        column-gap: 60px;
    }

    .art-container .art-inner.previous {
        grid-template-areas: "text-box circle-box";
        column-gap: 60px;
    }

    .art-container .art-inner.season .button-field {
        text-align: right;
    }

    .art-container h2 {
        font-size: 24px;
        text-align: left;
    }

    .art-container .text-box {
        max-width: 390px;
        order: 2;
        text-align: left;
    }

    .art-container .circle {
        order: 1;
    }

    .art-container button {
        margin-right: 0;
    }

    .art-container .img-seeding {
        width: 149px;
        height: auto;
    }


    /*=== nav ===*/
    .page-nav {
        height: 60px;
        position:unset;

    }
    .img-nav {
        display: none;
    }
    .page-nav .nav-content {
        position: unset;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        background: #fff;
        box-shadow: 0px 4px 4px 0px #03382F1C;
    }
    .page-nav .nav-content li {
        text-align: center;
        font-weight: bold;
    }

    .page-nav:hover .nav-content {
        display: grid;
    }


    /*=== our plants ===*/
    .art-our-plans h2 {
        font-family: Lato;
        font-size: 32px;
        line-height: 38px;
        color: black;
    }

    .card-collection {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
    }

   
    .card-collection .item {
        height: 407px;
        box-shadow: 3px 4px 4px 0px #00000040;
    }
    .card-collection .item .img-box {
        height: 296px;
    }

    .card-collection .item .img-box .plant {
        height: 205.57px;
        width: auto;
    }
    .card-collection .item .txt-row {
        padding: 8px;
        margin-bottom: 18px;
    }

    .card-collection .item .text-box .product {
        font-size: 24px;
        line-height: 29px;
    }

    .card-collection .item .text-box .date {
        font-size: 16px;
        line-height: 22px;
    }

    .card-collection .item .text-box .supplier {
        font-size: 16px;
        line-height: 19px;
    }

    .card-collection .item .garbage {
        display: none;
    }

    .card-collection .item  button.remove {
        display: block;
        margin: 0;
    }


    
    /*=== footer ===*/
    .page-footer {
        display: grid;
        grid-template-areas:
            "box-contact box-img"
            "to-top to-top";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .page-footer h2 {
        font-size: 44px;
    }
    .page-footer .footer-details {
        font-size: 17px;
    }


    
    .circle {
        width: 377px;
        height: 377px;
    }
    button {
        padding: 12px 20px;
        font-size: 24px;
    }

    .line {
        width: 280px;
        border-width: 2px;
    }
}



/* ######  1000px  ######*/
@media screen and (min-width: 1000px) {
    body {
        margin-bottom: 30px;
        box-shadow: 1px 1px 8px #aaa;
    }

}